 <div class="socialbar">

 <div class="fb" style="display: table; height: 100px; overflow: hidden;">
     <div style="display: table-cell; vertical-align: middle;">
       <div>
<a href="#"><i class="fa fa-facebook"></i></a>
       </div>
     </div>
   </div>

 <div class="tw" style="display: table; height: 100px; overflow: hidden;">
     <div style="display: table-cell; vertical-align: middle;">
       <div>
<a href="#"><i class="fa fa-twitter"></i></a>
       </div>
     </div>
   </div> 

  <div class="dri" style="display: table; height: 100px; overflow: hidden;">
     <div style="display: table-cell; vertical-align: middle;">
       <div>
<a href="#"><i class="fa fa-dribbble"></i></a>
       </div>
     </div>
   </div>

{{! end of socialbar}}
</div>